@font-face {
    font-family: 'belfair regular';
    src: url(./fonts/Bellefair-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'barlow regular';
    src: url(./fonts/Barlow-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'barlow condensed regular';
    src: url(./fonts/BarlowCondensed-Regular.ttf) format('truetype');
}
:root{
    --off-white: #d0d6f9f5;
    --blue:#0B0D17;
    --white:#ffffff;
    /*======home styles=====*/
    --paragraph-font:'barlow regular';
    --paragraph-font-size:18px;
    --nav-links-font:'barlow condensed regular';
    --nav-links-font-size:28px;
    --heading-font:var(--nav-links-font);
    --heading-font-size:28px;
    --explore-font-size:32px;
    --space-font:'belfair regular';
    --li-width:0%;
}
*,*::after,*::before{
    box-sizing: border-box;
    transition: all 1s ease;
    scroll-behavior: smooth;
}
a,a:visited,a:active,a:focus-visible{
    text-decoration: none;
    color: unset;
}
/*=============home styling=================*/
body{
    background-image: url(./assets/home/background-home-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
}
header{
    height: 136px;
    display: flex;
    align-items: end;
    
}
nav{
    width: 100%;
    height: 96px;
    align-items: center;
}
nav{
    display: flex;
    justify-content: space-between;   
}
nav img{
    width: 48px;
    height: 48px;
    margin-left: 4rem;
    z-index: 1;
}
nav ul{ display: flex;
    /* width: 736px; */
    height: 100%;
    align-items: center;
    /* width: 736px; */
    color: var(--white);
    background: #9ba0bd0d;
    backdrop-filter: blur(8.6px);
    text-transform: uppercase;
    letter-spacing: 4px;
    padding-inline: 8rem;
    justify-content: start;
    
    gap: 2rem;  
    transition: all 0.4s ease;
}
nav ul li{
    font-family: var(--nav-links-font);
    font-size: 16px;
    color: #d0d6f9d5;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}
ul li span{
    color: var(--white);
    font-size: 20px;
}
nav ul::before{
    content: '';
    display: block;
    color: var(--off-white);
    width: 23rem;
    position: absolute;
    background-color:#d0d6f959;
    z-index: 0;
    height: 1px;
    transform: translateX(-104%);
}
nav li:focus-visible{
    border-bottom: 2px solid var(--white);
}

/*==============main styling====================*/
main{
    height:888px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-container{
    width:1110px;
    height: 400px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-left: 1rem;
    margin-top: 13rem;
}
.home-text{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    justify-content: end;
    gap: 2rem;
}
.small-heading{
    font-size: var(--heading-font-size);
    color: var(--off-white);
    font-family: var(--heading-font);
    text-transform: uppercase;
    letter-spacing: 5px;
}
.home-heading{
    font-family: var(--space-font);
    font-size: 144px;
    color: var(--white);
    text-transform: uppercase;
}
.home-prg{
    color: var(--off-white);
    font-size: var(--paragraph-font-size);
    font-family: 'barlow regular';
    line-height: 1.8;
       
}
.home-btn{
    font-family: 'belfair regular';
    background-color: var(--white);
    width: 272px;
    height: 272px;
    border: 0;
    border-radius: 50%;
    font-size: var(--explore-font-size);
    text-transform: uppercase;
    transition: all 0.4s ease;
}
.home-btn:hover{
    box-shadow: 0 0px 0px 4rem #d0d6f940;
}
nav ul li::after {
    content: '';
    position: absolute;
    width: var(--li-width , 0%);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--off-white);
    transition: width 0.6s ease;
}
nav ul li:hover::after{
    width: 100%;
    
}

/*=============home media queries==========================*/
@media screen and (max-width:770px) {
    body{
        background-image: url(./assets/home/background-home-tablet.jpg);
        background-size: cover;
        background-position-x: unset;
    }
    nav{
        gap: 2.5rem;
        justify-content: unset;
        align-self: baseline;
    }
    nav ul{
        width: unset;
    padding: unset;
    flex: 1;
    justify-content: end;
    padding-right: 10px;
        
    }
    nav ul li{
        font-size: 14px;
        
    }
    nav ul::before{
        display: none;
    }
    
    .home-container{
        flex-direction: column;
        align-items: center;
        padding: unset;
        justify-content: center;
        margin: unset;
        width: auto;
        height: auto;
        gap: 4rem;
    }
    .home-prg{
        font-size: 17px;
    width: 92%;
    align-self: center;
    }
    .home-text{
        width: 80%;
        text-align: center;
    }
}
.logo-icon{
    display: none;
}
@media screen and (max-width:580px) {

    .logo-icon{
        display: unset;
        
    }
    nav ul li{
        height: auto;
        width:100% ;
        font-size: 20px;
    color: var(--white);
    }
    body{
        background-image: url(./assets/home/background-home-mobile.jpg);
    }
    .small-heading{
        font-size: 20px;
    }
    .home-heading{
        font-size: 88px;
    }
    nav ul{
        position: absolute;
        flex-direction: column;
        width: 0%;
        height: 100vh;
        top: 0;
        right: 0;
        padding-left: 2rem;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        transition: all 0.5s ease;
        display: none;
        
    }
    header{
        align-items: unset;
    }
    .logo-icon{
        display: block;
        margin-right: 2rem;
        width: 30px;
        height: 30px;
    }
    nav{
        justify-content: space-between;
    }
    nav img{
        margin-left: 2rem;
    }
    .home-btn{
        width: 144px;
        height: 144px;
        font-size: 22px;
    }
    .home-container{
            margin-top: -2rem;
        gap: 10rem;
    }
}
/*=========== end home styling==================*/

/*============start dest styling=================*/
.fixed-container{
    width: 1110px;
    height: 792px;
    display: flex;
    flex-direction: column;
}
.dest-container{
    display: flex;
    flex: 1;
    align-items: center;
}
.dest-image,.dest-infos{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.dest-image img{
    width: 480px;
    height: 480px;
}
.infos-wrapper{
    width: 445px;
    height: 468px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.planet-names{
    display: flex;
    /* font-size: 23px; */
    color: var(--off-white);
    text-transform: uppercase;
    font-size: 19px;
    gap: 2rem;
    font-family: 'barlow condensed regular';
    letter-spacing: 2px;
    
}
.planet-name{
    color: var(--off-white);
    font-family: var(--space-font);
    text-transform: uppercase;
    font-size: 100px;
    margin-top: 12px;
}
.planet-desc{
    font-family: var(--paragraph-font);
    font-size: var(--paragraph-font-size);
    line-height: 1.8;
    color: var(--off-white);
    text-align: left;
}
.dest-infos hr{ 
    height: 1px;
    background-color: var(--off-white);
    width: 100%;
    opacity: 0.3;
}
.metrics{
    display: flex;
    color: var(--off-white);
    font-family: 'barlow condensed regular';
    font-size: 16px;
    gap: 40%;
    text-align: left;
}
.avrg-distance,.travel-time{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.distance,.time{
    font-size: 26px;
    font-family: 'belfair regular';
    text-transform: uppercase;
}
.travel-text,.distance-text{
    text-transform:uppercase;
    letter-spacing: 2px;
    color: #9fa6c5c9;
}
.planet-names li::after{
    content: '';
    display: block;
    height: 2px;
    position: relative;
    margin-top: 5px;
    background-color: #fcfcfce3;
    opacity: 0.5;
    width: var(--li-width,0%);
}
.planet-names li:hover::after{
    width: 100%;
}
.planet-names li{
    cursor: pointer;
}
.small-heading span{
    color: gray;
}
.infos-wrapper,.dest-image img{
    align-self: center;
}

/*===========destination media queries============*/
@media screen and (max-width:768px) {
    
    .fixed-container{
        width: 100%;
        height: 86%;
        gap: 5rem;
        align-self: baseline;
    }
    .dest-container{
        flex-direction: column;
        gap: 3rem;
        margin-top: -1rem;
    }
    .dest-image{
        align-items: center;
    }
    .dest-image img{
        width: 300px;
        height: 300px;
    }
    .dest-infos{
        align-items: center;
        width: 100%;
    }
    .infos-wrapper{
        text-align: center;
        width: 75%;
    }
    .planet-names{
        justify-content: center;
        font-size:16px
    }
    .metrics{
        justify-content: center;
        text-align: center;
    }
    .small-heading{
        padding-left: 2rem;
        font-size: 20px;
    }
    .planet-desc{
        font-size: 18px;
    text-align: center;
    }
    
   
}
@media screen and (max-width:580px) {
    
    .dest-image img {
        width: 150px;
        height: 150px;
    }
    .fixed-container{
        align-items: center;

    }
    .dest-container{
        gap: 3rem;
        width: 90%;

    }
    .infos-wrapper{
        width: 100%;
    }
    .planet-names{
        justify-content: center;
        width: 100%;
        gap: 35px;
        font-size: 18px;
        letter-spacing: 1px;
    }
    .planet-name{
        font-size: 55px;
    }
    .metrics{
        flex-direction: column;
        align-items: center;
        gap:4rem;
    }
    .planet-desc{
        text-align: center;
        width: 83%;
        align-self: center;
        font-size: 13px;
    }
    .small-heading{
        padding-inline: 0;
        font-size: 15px;
    }
}
/*================end dest styling=============*/
/*===============start crew styling=================*/
.crew-container{
    display: flex;
}
.crew-infos,.crew-img{
    width: 50%;
}
.crew-infos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    color: var(--off-white);
    font-family: 'belfair regular';
}
.role{
    text-transform: uppercase;
    font-family: 'belfair regular';
    font-size: 36px;
    color: var(--off-white);
    opacity: 0.5;
    line-height: 60%;
    letter-spacing: 2px;
}
.crew-name{
    font-size: 58px;
    text-transform: uppercase;
    color: var(--white);

}
.crew-bio{
    color: var(--off-white);
    font-size: 20px;
    line-height: 1.5;
    width: 100%;
}
.crew-img{
    display: flex;
    justify-content: center;
    width: 539.28px;
    height:676px;
}
.crew-btns{
    display: flex;
    gap: 2rem;
    
    position: relative;
    top: 9rem;
}
.crew-btn{
    display: block;
    width: 15px;
    height: 15px;
    background-color: grey;
    border-radius: 50%;
    opacity: 0.5;
    cursor: pointer;
}
.crew-btn:hover{
    opacity: 1;
    background-color: var(--white);
    box-shadow: 1px 1px 19px 1px white;
}
.crew-btn-clicked{
    opacity: 1;
    background-color: var(--white);
    box-shadow: 1px 1px 19px 1px white;
}
.overlay{
    backdrop-filter: brightness(0.5);
}
/*===================crew media queries===================*/
@media screen and (max-width:768px) {
    
    .crew-container{
        flex-direction: column;
        align-items: center;
    }
    .crew-infos{
        align-items: center;
        width: 70%;
    }
    .crew-name{
        font-size: 44px;
    }
    .crew-bio{
        text-align: center;
    opacity: 0.7;
    }
    .crew-btns{
        top: 2rem;
    }
    .crew-img img{
        width: 446px;
    }
}
@media screen and (max-width:580px) {
    
    .crew-container{
        gap: 5rem;
    }
    .role{
        font-size: 23px;
    }
    .crew-name{
        font-size:28px
    }
    .crew-bio{
        width:89%;
        font-size: 20px;
    }
    .crew-btns{
        gap: 1rem;
    }
    .crew-img img{
        width: 271.24px;
        height: 340px;
    }
    .crew-container,.crew-img{
        width: 100%;
    }
    .crew-img{
        height: auto;
    }
    .crew-infos{
        width: 100%;
    }
    
}
.crew-img:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, transparent 0%,#06070c 54%);
    height: 40%;  
  }
  .crew-btns{
      z-index: 2;
  }
  @media screen and (max-width:768px) {
      
    .crew-img::after{
        top: 55rem;
    height: 500px;
        
    }
    .crew-img{
        margin-top: 5rem;
    }
  }
  @media screen and (max-width:480px) {
      
    .crew-img::after{
        top: 47rem;
    }

  }