@font-face {
    font-family: 'belfair regular';
    src: url(./fonts/Bellefair-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'barlow regular';
    src: url(./fonts/Barlow-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'barlow condensed regular';
    src: url(./fonts/BarlowCondensed-Regular.ttf) format('truetype');
}
:root{
    --off-white: #d0d6f9f5;
    --blue:#0B0D17;
    --white:#ffffff;
    /*======home styles=====*/
    --paragraph-font:'barlow regular';
    --paragraph-font-size:18px;
    --nav-links-font:'barlow condensed regular';
    --nav-links-font-size:28px;
    --heading-font:var(--nav-links-font);
    --heading-font-size:28px;
    --explore-font-size:32px;
    --space-font:'belfair regular';
}
*,*::after,*::before{
    box-sizing: border-box;
    transition: all 0.8s ease;
}
a,a:visited,a:active,a:focus-visible{
    text-decoration: none;
    color: unset;
}
/*=============home styling=================*/
body{
    background-image: url(./assets/home/background-home-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
    
}
header{
    height: 136px;
    display: flex;
    align-items: end;
    
}
nav{
    width: 100%;
    height: 96px;
    align-items: center;
}
nav{
    display: flex;
    justify-content: space-between;   
}
nav img{
    width: 48px;
    height: 48px;
    margin-left: 4rem;
    z-index: 1;
}
nav ul{ display: flex;
    /* width: 736px; */
    height: 100%;
    align-items: center;
    /* width: 736px; */
    color: var(--white);
    background: #9ba0bd0d;
    backdrop-filter: blur(8.6px);
    text-transform: uppercase;
    letter-spacing: 4px;
    padding-left: 5rem;
    justify-content: start;
    width: 65%;
    gap: 2rem;  
    transition: all 0.4s ease;
}
nav ul li{
    font-family: var(--nav-links-font);
    font-size: 18px;
    color: #d0d6f9d5;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}
ul li span{
    color: var(--white);
    font-size: 20px;
}
nav ul::before{
    content: '';
    display: block;
    color: var(--off-white);
    width: 23rem;
    position: absolute;
    background-color:#d0d6f959;
    z-index: 0;
    height: 1px;
    transform: translateX(-104%);
}

/*==============main styling====================*/
main{
    height:888px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-container{
    width:1110px;
    height: 400px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-left: 1rem;
    margin-top: 1rem;
}
.home-text{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    justify-content: end;
    gap: 2rem;
}
.small-heading{
    font-size: var(--heading-font-size);
    color: var(--off-white);
    font-family: var(--heading-font);
    text-transform: uppercase;
    letter-spacing: 5px;
}
.home-heading{
    font-family: var(--space-font);
    font-size: 144px;
    color: var(--white);
    text-transform: uppercase;
}
.home-prg{
    color: var(--off-white);
    font-size: var(--paragraph-font-size);
    font-family: 'barlow regular';
    line-height: 1.8;
       
}
.home-btn{
    background-color: var(--white);
    width: 272px;
    height: 272px;
    border: 0;
    border-radius: 50%;
    font-size: var(--explore-font-size);
    text-transform: uppercase;
    transition: all 0.4s ease;
}
.home-btn:hover{
    box-shadow: 0 0px 0px 4rem #d0d6f940;
}
nav ul li::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--off-white);
    transition: width 0.3s ease;
}
nav ul li:hover::after{
    width: 100%;
    
}

/*=============home media queries==========================*/
@media screen and (max-width:770px) {
    body{
        background-image: url(./assets/home/background-home-tablet.jpg);
        background-size: cover;
        background-position-x: unset;
    }
    nav{
        gap: 2.5rem;
        justify-content: unset;
    }
    nav ul{
        width: unset;
        padding: unset;
        flex:1;
        gap: 1rem;
        
    }
    nav ul::before{
        display: none;
    }
    
    .home-container{
        flex-direction: column;
        align-items: center;
        padding: unset;
        justify-content: center;
        margin: unset;
        width: auto;
        height: auto;
        gap: 4rem;
    }
    .home-text{
        width: 80%;
        text-align: center;
    }
}
.logo-icon{
    display: none;
}
@media screen and (max-width:580px) {

    .logo-icon{
        display: unset;
    }
    body{
        background-image: url(./assets/home/background-home-mobile.jpg);
    }
    .small-heading{
        font-size: 20px;
    }
    .home-heading{
        font-size: 88px;
    }
    nav ul{
        position: absolute;
        flex-direction: column;
        width: 100%;
        height: 60%;
        top: 8rem;
        align-items: center;
        transition: all 0.5s ease;
        display: none;
    }
    header{
        align-items: unset;
    }
    .logo-icon{
        display: block;
        margin-right: 2rem;
    }
    nav{
        justify-content: space-between;
    }
    nav img{
        margin-left: 2rem;
    }
    .home-btn{
        width: 144px;
        height: 144px;
        font-size: 22px;
    }
    .home-container{
        margin-top: -15rem;
        gap: 10rem;
    }
}
/*=========== end home styling==================*/

/*============start dest styling=================*/
.fixed-container{
    width: 1110px;
    height: 792px;
    display: flex;
    flex-direction: column;
}
.dest-container{
    display: flex;
    flex: 1;
    align-items: center;
}
.dest-image,.dest-infos{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.dest-image img{
    width: 480px;
    height: 480px;
}
.infos-wrapper{
    width: 445px;
    height: 468px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.planet-names{
    display: flex;
    /* font-size: 23px; */
    color: var(--off-white);
    text-transform: uppercase;
    font-size: 28px;
    gap: 2rem;
    font-family: 'belfair regular';
    
}
.planet-name{
    color: var(--off-white);
    font-family: var(--space-font);
    text-transform: uppercase;
    font-size: 100px;
    
}
.planet-desc{
    font-family: var(--paragraph-font);
    font-size: var(--paragraph-font-size);
    line-height: 1.8;
    color: var(--off-white);
    text-align: left;
}
.dest-infos hr{ 
    height: 1px;
    background-color: var(--off-white);
    width: 100%;
}
.metrics{
    display: flex;
    color: var(--off-white);
    font-family: 'barlow condensed regular';
    font-size: 16px;
    gap: 40%;
    text-align: left;
}
.avrg-distance,.travel-time{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.distance,.time{
    font-size: 26px;
    font-family: 'belfair regular';
    text-transform: uppercase;
}
.travel-text,.distance-text{
    text-transform:uppercase;
    letter-spacing: 2px;
}
/*===========destination media queries============*/
@media screen and (max-width:768px) {
    
    .fixed-container{
        width: 100%;
        height: 86%;
        justify-content: center;
        gap: 2rem;
    }
    .dest-container{
        flex-direction: column;
        gap: 3rem;
    }
    .dest-image{
        align-items: center;
    }
    .dest-image img{
        width: 300px;
        height: 300px;
    }
    .dest-infos{
        align-items: center;
        width: 100%;
    }
    .infos-wrapper{
        text-align: center;
    }
    .planet-names{
        justify-content: center;
    }
    .metrics{
        justify-content: space-between;
    }
}
@media screen and (max-width:580px) {
    
    .dest-image img {
        width: 250px;
        height: 250px;
    }
    .fixed-container{
        align-items: center;

    }
    .dest-container{
        gap: 3rem;
        width: 90%;

    }
    .infos-wrapper{
        width: 100%;
    }
    .planet-names{
        justify-content: center;
        width: 100%;
        gap: 1rem;
        font-size: 23px;
        letter-spacing: 1px;
    }
    .planet-name{
        font-size: 76px;
    }
    .metrics{
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    .planet-desc{
        text-align: center;
    }
}